/* variables */
:root {
  --primary-font: 'Poppins', sans-serif;
  --secondary-font: 'Inter', sans-serif;
  --teritary-font: 'Manrope', sans-serif;
  --text-color: #3a3a3a;
  --btn-bg-color: #e02c6d;
  --footer-bg-color: #0a0826;
  --white-color: #fff;
  --card-title: #18191F;
  --card-info: #787885;
}

/* default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
  color: var(--text-color);
}

header,
main,
footer .container {
  max-width: 1140px;
  margin: auto;
  padding: 0 15px;
}

header {
  max-width: 1170px;
}

section {
  margin: 100px 0;
}

/* reusable */

.btn-primary {
  background-color: var(--btn-bg-color);
  color: var(--white-color);
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 24px;
  border: 0;
  outline: 0;
  cursor: pointer;
  font-weight: 700;
}

/* nav bar */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 80px;
}

nav h3 {
  font-size: 24px;
  font-weight: 700;
}

nav>ul {
  list-style: none;
  display: flex;
}

nav>ul li {
  margin-left: 34px;
  font-weight: 600;
}

nav>ul a {
  text-decoration: none;
  cursor: pointer;
}

nav .search {
  cursor: pointer;
}


/* banner section */

.banner {
  display: flex;
  align-items: center;
  gap: 120px;
}

.banner>div {
  flex: 1;
}

.banner-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 70px;
}

.banner-desc {
  font-weight: 600;
  padding: 16px 0;
}

.banner .btn-primary {
  border-radius: 50px;
}

.banner img {
  height: 100%;
}

/* sponsor section */

.sponsor-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 60px;
}

/* popular collection section */

.section-title {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  line-height: 70px;
}

.popular-collection .card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 30px;
}

.popular-collection .card {
  padding: 16px;
  border-radius: 5px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.popular-collection .card-img {
  border-radius: 5px;
  width: 100%;
}

.popular-collection .card-title {
  color: var(--card-title);
  padding: 16px 0 8px;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
}

.popular-collection .price {
  color: rgba(0, 0, 0, 0.87);
  font-family: Inter;
  font-size: 24px;
  line-height: 36px;
}

.popular-collection .rating {
  display: flex;
  gap: 6px;
}

.popular-collection .rating .average {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.1px;
}

.popular-collection .card-info {
  color: var(--card-info);
  padding-top: 3px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.252px;
}

.popular-collection .btn-container {
  display: flex;
  justify-content: end;
}

.popular-collection .btn-primary {
  background-color: var(--white-color);
  color: var(--btn-bg-color);
  padding-right: 30px;
}